{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = 'flash'>
        {% with messages= get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <strong> {{message}} </strong>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class = 'categories'>
        <h2>Categories</h2>
        {% for c in categories %}
        <span class = 'category'><p>{{c.name}}</p></span>
        {% endfor %}
    </div>

    <div class='item-list'>
        <h2>Latest Items</h2>
        {% for i in items %}
        <span class = 'item'><p>{{i.name}}</p></span>
        {% endfor %}
    </div>
{% endblock %}