{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = 'flash'>
        {% with messages= get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <strong> {{message}} </strong>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class = 'category-list'>
        <h2>Categories</h2>
        {% for c in categories %}
        <div class='category_name'><a href="{{url_for('showItem', category_name=c.name)}}">{{c.name}}</a></div>
        {% endfor %}
    </div>

    <div class='item-list'>
        <h2>Items</h2>
        {% for i in items %}
        <div class = 'item_name'>{{i.name}}</div>
        {% endfor %}
    </div>
{% endblock %}