{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = 'flash'>
        {% with messages= get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <strong> {{message}} </strong>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class='add_category'>
        <a href="{{url_for('newCategory')}}">+ Add Category +</a>
    </div>
    <div class = 'category_list'>
        <h2>Categories</h2>
        {% for c in categories %}
        <div class='category_name'><a href="{{url_for('showCategoryItem', category_name=c.name)}}">{{c.name}}</a></div>
        {% endfor %}
    </div>
    <div class='add_item'>
        <a href="{{url_for('newCategoryItem', category_name=category.name)}}">+ Add Item +</a>
    </div>
    <div class='item_list'>
        <h2>{{category.name}} Items ({{count}} items)</h2>
        <div class = "editdelete_menu">
            <a href="{{url_for('editCategory', category_name=category.name)}}">Edit</a> |
            <a href="{{url_for('deleteCategory', category_name=category.name)}}">Delete</a>
        </div>
        {% for i in items %}
        <div class = 'item_name'><a href="{{url_for('showItem', category_name=category.name, item_name=i.name)}}">{{i.name}}</a></div>
        {% endfor %}
    </div>
{% endblock %}